{"swagger":"2.0","info":{"title":"Default title","description":"Uses the Cognitive Services Text Analytics Sentiment API to determine whether text is positive or negative","version":"1.0"},"host":"westus.api.cognitive.microsoft.com","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/<https://westus.api.cognitive.microsoft.com/text/analytics/v2.0/sentiment>":{},"/text/analytics/v2.0/sentiment":{"post":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"documents":{"type":"array","items":{"type":"object","properties":{"score":{"type":"integer","format":"int32","description":"score"},"id":{"type":"string","description":"id"}}},"description":"documents"},"errors":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"message":{"type":"string","description":"message"}}},"description":"errors"}}}}},"operationId":"DetectSentiment","parameters":[{"name":"body","in":"body","required":false,"schema":{"type":"object","properties":{"documents":{"type":"array","items":{"type":"object","properties":{"language":{"type":"string","description":"language"},"id":{"type":"string","description":"id"},"text":{"type":"string","description":"text"}}},"description":"documents"}}}}],"summary":"dsds","description":"dsds"}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"api_key":{"type":"apiKey","in":"header","name":"Ocp-Apim-Subscription-Key"}},"security":[],"tags":[],"x-ms-openai-manifest":{"humanName":"DetectSentiment","modelDescription":"The API returns a numeric score between 0 and 1. Scores close to 1 indicate positive sentiment, while scores close to 0 indicate negative sentiment."}}